{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue dans la famille Yoka !</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.5; background-color: #f8f9fa; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
        <h1 style="color: #333;">🎉 Merci de vous être abonné, {{ email }} !</h1>
        <p>Vous êtes maintenant membre de notre incroyable communauté musicale ! 🎶</p>
        <p>Restez à l'affût des dernières nouveautés, des albums à venir, et des événements exclusifs.</p>
        
               <img src=" {{request.get_host}}/static/img/Designer.jpeg" alt="Merci pour votre message" style="max-width: 100%; height: auto; border-radius: 8px;">
 
      
        <p>Nous avons hâte de partager avec vous toutes nos nouvelles musiques et actualités. 🚀</p>
        <p>À bientôt et restez cool ! 😎</p>

        <footer style="margin-top: 20px; font-size: 12px; color: #999;">
            <p>Yoka Music - La musique à votre portée !</p>
        </footer>
    </div>
</body>
</html>
